<main role="main">
      <div class="row">
        <div class="col-md-8 blog-main">
         <h1>New Blog</h1>
         <p><%= render 'form', blog: @blog %></p>
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
     <%= link_to 'Back', blogs_path, class:"btn btn-dark" %>
</main><!-- /.container -->



