<footer class="text-muted">
    <div class="container">
    <p class="float-right up">
        <%= link_to "View All Portfolio Items", portfolios_path, class:"btn btn-outline-secondary" %>
        <a class="btn btn-outline-secondary" href="#">Back to top</a>
    </p>
    <p><%= copyright_generator %></p>
    </div>
</footer>