<div class="pb-2 mt-4 mb-4 border-bottom">
  <h1>About Me</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <%= image_tag '930.jpg', width:250, height:230, alt:"profile image", class:"rounded-circle" %>
  </div>
  <div class="col-md-7">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sed modi explicabo id consectetur. 
    Nulla, ipsam, aut. Est, atque voluptates?</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Maiores nesciunt provident, unde! Assumenda sunt a suscipit, est aut fugiat nesciunt.</p>
  </div>
</div>
