// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background:linear-gradient(to right, rgb(235, 247, 0), rgb(254, 11, 11));
	color:#fff;
}

.bottom a{
	color:brown;
}